.container{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 80px 1fr 100px;
    gap: 10px;
    
    grid-template-areas:
    "header header header"
    "nav main ."
    "footer footer footer";
}

header{
    background-color: blue;
    grid-area: header;
}

main{
    background-color: aqua;
    grid-area: main;
}

nav{
    background-color: aliceblue;
    grid-area: nav;
}

footer{
    background-color: azure;
    grid-area: footer;
}

.box{

}